@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa'), local('Comfortaa-Regular'), url(fonts/comfortaa-regular.woff) format('woff');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(fonts/comfortaa-bold.woff) format('woff');
}

body {
    padding: 1em 0 0; /* background-image: url('../images/bgd_pattern_10.gif')*/;
    background-position: center 1em !important;
    font-family: 'Comfortaa';
    color: #666;
}

body.customize-support {
    padding: 134px 0 0;
    background-position: center 162px !important;
}

body.customize-support .fixed {
    top: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa';
}

#wrapper {
    position: relative;
    height: 100%;
    max-width: 1008px;
    margin: 0 auto;
}

/* Titles */

.xsmall-title {
    margin: 0;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.xsmall-title span {
    display: inline-block;
    height: 18px;
    padding: 0 3px 0 4px;
    margin: 0 0 5px 0;
    line-height: 19px;
}

.small-title {
    display: block;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.small-title span {
    display: inline-block;
    height: 21px;
    padding: 0 3px 0 4px;
    margin: 0 0 5px 0;
    line-height: 21px;
}

.medium-title {
    display: block;
    clear: both;
    margin: -2px 0 2px 0;
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
}

.medium-title span {
    display: inline;
    padding: 0 2px 0 5px;
    line-height: 36px;
}

.large-title {
    margin: 0;
    font-size: 30px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.large-title span {
    display: inline-block;
    height: 48px;
    padding: 0 6px 0 9px;
    margin: 0 0 5px 0;
    line-height: 48px;
}

.xlarge-title {
    display: block;
    margin: -3px 0 3px 0;
    font-size: 36px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
}

.xlarge-title span {
    display: inline;
    padding: 0 3px 0 7px;
    line-height: 51px;
}

.home .xlarge-title {
    font-size: 32px;
}

.home .xlarge-title span {
    height: 46px;
    padding: 0 5px 0 8px;
    margin: 0 0 5px 0;
    line-height: 46px;
}

.section-label {
    display: inline-block;
}

.xsmall-title.black span, .small-title.black span, .medium-title.black span, .large-title.black span, .xlarge-title.black span {
    background-color: #000;
}

.xsmall-title.red span, .small-title.red span, .medium-title.red span, .xlarge-title.red span {
    background-color: #f21f0c;
}

.xsmall-title span, .small-title span, .medium-title span, .large-title span {
    color: #fff;
}

.xlarge-title span {
    color: #f2f2f2;
}

.medium-title a, .medium-title a:hover,
.xlarge-title a, .xlarge-title a:hover {
    text-decoration: none;
}

.more-button {
    display: inline-block;
    margin: 0 0 0 1px;
}

.more-button span {
    text-align: center;
}

.xlarge-title.more-button span {
    display: inline-block;
    line-height: 46px;
    width: 46px;
}

.xsmall-title.grey span, .small-title.grey span, .medium-title.grey span, .xlarge-title.grey span {
    background-color: #ccc;
    color: #666;
}

.xsmall-title.white span, .small-title.white span, .medium-title.white span, .xlarge-title.white span {
    background-color: #fff;
    color: #f21f0c;
}

figure {
    line-height: 0;
}

.button {
    background: url('../images/button_pattern.png') #e5e5e5 0 0 repeat scroll;
    border-color: #ccc;
    box-shadow: none;
    padding: 0;
}

.button:hover {
    background-color: #f2f2f2
}

#search .button .icon {
    display: block;
    width: 16px;
    height: 16px;
    margin: 7px auto;
    background: transparent url('../images/ico_lens.png') 0 0 no-repeat;
    text-indent: -9999px;
}

#search .button {
    background: url('../images/ico_lens.png') center center no-repeat, url('../images/button_pattern.png') 0 0 repeat #e5e5e5;
    margin: 0;
}

#search input[type="text"] {
    color: #ccc;
}

#search input[type="text"]:focus {
    color: #333;
}

input {
    background-image: url('../images/button_pattern.png')
}

input[type="text"]:focus {
    border-color: #ccc;
}

.block-grid {
    clear: both;
    line-height: 0;
}

.block-grid.one-up,
.block-grid.two-up,
.block-grid.four-up,
.block-grid.five-up {
    margin: 0 -5px;
}

.eight.columns .block-grid.four-up {
    margin: 0 -10px 0 -9px;
}

.twelve.columns .block-grid.six-up {
    margin: 0 -10px;
}

.block-grid.one-up > li,
.block-grid.two-up > li,
.block-grid.four-up > li,
.block-grid.five-up > li {
    padding: 0 5px 10px;
}

.eight.columns .block-grid.four-up > li {
    padding: 0 10px 10px 9px;
}

.twelve.columns .block-grid.six-up > li {
    padding: 0 10px 10px;
}

/* -----------------------------------------
   Header
----------------------------------------- */

#site-header {
    box-shadow: 0 0 20px #000;
}

#site-header.fixed, #wpadminbar {
    z-index: 110000000 !important;
}

/* Main Toolbar */

#main-toolbar {
    position: relative;
    height: 84px;
    border-bottom: 1px solid #ccc;

    background-image: linear-gradient(bottom, #e5e5e5 0%, #fff 100%);
    background-image: -o-linear-gradient(bottom, #e5e5e5 0%, #fff 100%);
    background-image: -moz-linear-gradient(bottom, #e5e5e5 0%, #fff 100%);
    background-image: -webkit-linear-gradient(bottom, #e5e5e5 0%, #fff 100%);
    background-image: -ms-linear-gradient(bottom, #e5e5e5 0%, #fff 100%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, #e5e5e5),
            color-stop(1, #fff)
    );

}

#main-toolbar nav ul li.active {
    background: #e5e5e5 url('../images/ico_close.png') center center no-repeat !important;
    text-indent: -9999px;
}

#main-toolbar nav ul li a {
    color: #999;
}

#main-toolbar nav ul li a:hover {
    text-decoration: none;
}

/*#main-toolbar*/
.toolbar-wrapper {
    position: relative;
    height: 100%;
    max-width: 1008px;
    margin: 0 auto;
}

#main-toolbar h1 {
    display: none;
    width: 64px;
    height: 64px;
    background-color: #ccc;
    text-indent: -9999px;
}

#main-toolbar #logo-image {
    position: relative;
    top: 10px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

#main-toolbar .sx {
    position: absolute;
    top: 0;
    left: 0;
    width: 44.44445%;
}

#main-toolbar nav ul {
    list-style: none;
    margin: 0;
}

#main-toolbar nav ul li {
    float: left;
    width: 25%;
    height: 84px;
    background: transparent url('../images/main_toolbar_separator.png') center left no-repeat;
    font-size: 18px;
    line-height: 84px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #999;
    text-shadow: 0 1px 1px #fff;
    cursor: pointer;
}

#main-toolbar nav ul li:first-child {
    background-image: none;
}

#main-toolbar .dx {
    position: absolute;
    top: 0;
    right: 0;
    width: 44.44445%;
}

#main-toolbar #social-networks {
    list-style: none;
    float: left;
    width: 25%;
    margin: 0;
}

#main-toolbar #social-networks li {
    float: left;
    width: 33.33333%;
    height: 84px;
    font-size: 18px;
    line-height: 84px;
    font-weight: bold;
    text-indent: -9999px;
    text-transform: uppercase;
    color: #999;
    cursor: pointer;
}

#main-toolbar #social-networks li.twitter a {
    background: transparent url('../images/social_twitter.png') center center no-repeat;
    background-size: 32px;
    width: 100%;
    display: block;
}

#main-toolbar #social-networks li.facebook a {
    background: transparent url('../images/social_facebook.png') center center no-repeat;
    background-size: 32px;
    width: 100%;
    display: block;
}

#main-toolbar #social-networks li.pinterest a {
    background: transparent url('../images/social_pinterest.png') center center no-repeat;
    background-size: 32px;
    width: 100%;
    display: block;
}

#main-toolbar #social-networks li.google a {
    background: transparent url('../images/social_google.png') center center no-repeat;
    background-size: 32px;
    width: 100%;
    display: block;
}

#main-toolbar #social-networks li.twitter a:hover {
    background: transparent url('../images/social_twitter_roll.png') center center no-repeat;
    background-size: 32px;
}

#main-toolbar #social-networks li.facebook a:hover {
    background: transparent url('../images/social_facebook_roll.png') center center no-repeat;
    background-size: 32px;
}

#main-toolbar #social-networks li.pinterest a:hover {
    background: transparent url('../images/social_pinterest_roll.png') center center no-repeat;
    background-size: 32px;
}

#main-toolbar #social-networks li.google a:hover {
    background: transparent url('../images/social_google_roll.png') center center no-repeat;
    background-size: 32px;
}

#main-toolbar #search {
    float: right;
    width: 75%;
    height: 84px;
    background: transparent url('../images/main_toolbar_separator.png') bottom left no-repeat;
}

#main-toolbar #search .row {
    min-width: inherit;
    padding: 26px 18px 0 18px;
    vertical-align: middle;
}

#mobile-nav-panel, #section-nav-panel {
    display: block;
    height: 0;
    background: rgba(0, 0, 0, 0.9) url('../images/nav_panel_separator.png') top center repeat-y;
    color: #FFFFFF;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

#mobile-nav-panel {
    display: none;
}

#section-nav-panel > row {
    position: relative;
}

.section-nav {
    position: absolute;
    top: -20px;
    z-index: 1;
    width: 100%;
    max-width: 1008px;
}

#section-nav-panel .xlarge-title {
    color: #fff;
}

#section-nav-panel h2 {
    display: block;
    margin: 34px 0 33px 18px;
    position: absolute;
}

#section-nav-panel .sub-sections h3 {
    display: none;
    margin: 34px 0 33px;
}

#section-nav-panel .sub-sections ul {
    margin: 108px 0 0 0;
    line-height: 0;
    list-style: none;
}

#section-nav-panel .sub-sections li {
    margin: 0 0 5px 0;
}

#section-nav-panel .featured-items h4 {
    margin: 45px 0 29px;
    color: #fff;
    text-transform: uppercase;
}

#section-nav-panel .featured-items {
}

#section-nav-panel .featured-items ul,
#section-nav-panel .widget_recent_entries ul {
    float: left;
    line-height: 0;
    list-style: none;
}

#section-nav-panel .featured-items ul li,
#section-nav-panel .widget_recent_entries ul li {
    clear: both;
    padding: 0 0 0 18px;
    margin-left: -16px;
    background: transparent url('../images/nav_panel_list_arrow.gif') 0 14px no-repeat;
    line-height: 31px;
    letter-spacing: 0.1em;
}

#section-nav-panel .featured-items ul li a,
#section-nav-panel .widget_recent_entries ul li a {
    color: #fff;
}

#section-nav-panel .news h3,
#section-nav-panel .widget h4 {
    margin: 45px 0 37px;
    color: #fff;
    text-transform: uppercase;
}

#section-nav-panel .news article figure {
    width: 50%;
    padding: 0 10px 10px 0;
}

#section-nav-panel .news article hgroup, #section-nav-panel .news article p, #section-nav-panel .news article footer {
    float: left;
    width: 100%;
}

@media only screen and (max-width: 767px) {

    body {
        padding: 60px 0 0;
    }

    body.customize-support {
        padding: 60px 0 0;
        background-position: center 88px !important;
    }

    #news-guests-group {
        width: 100%;
    }

    #deejay-apps article {
        width: 33.33333% !important;
    }

    #site-header {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /*border-bottom:1px solid #ccc;*/
    }

    #main-toolbar {
        height: 60px; /*background-position-y: bottom;*/
    }

    #section-nav-panel {
        display: none;
    }

    #mobile-nav-panel {
        display: block;
    }

    #main-toolbar .dx {
        display: none;
    }

    #main-toolbar #logo-image {
        position: relative;
        top: 5px;
        display: block;
        width: 48px;
        height: 48px;
        margin: 0 auto;
    }

    #mobile-nav-panel {
        background: #e5e5e5 url('../images/mobile_nav_panel_separator.png') top center no-repeat;
    }

    #mobile-nav ul {
        margin: 0;
        list-style: none;
    }

    #mobile-nav li {
        width: 50%;
        float: left;
        height: 52px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #ccc;
        margin: 0 !important;
    }

    #mobile-nav li:nth-child(odd) {
        border-right: 1px solid #ccc;
    }

    #mobile-nav li:nth-child(1), #mobile-nav li:nth-child(2) { /*border-top:none;*/
    }

    #mobile-nav li:nth-child(7), #mobile-nav li:nth-child(8) { /*border-bottom:none;*/
    }

    #mobile-nav li a {
        width: 100%;
        height: 52px;
        line-height: 52px;
        float: left;
        padding: 0 10px;
        font-size: 14px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-shadow: 0 1px 1px #f2f2f2;
    }

    #mobile-nav-button {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 64px;
        height: 59px;
        background: transparent url('../images/mobile_nav_button.gif') center center no-repeat;
        text-indent: -9999px;
        cursor: pointer;
    }

    #mobile-nav-button.active {
        background-color: #e5e5e5;
    }

}

/* On Air Toolbar */

#onair-toolbar {
    height: 50px;
    background: #f21f0c url('../images/onair_toolbar_bgd.png') 0 0 repeat-x;
}

#onair-toolbar #radio-onair {
    width: 66.66667%;
}

#onair-toolbar #tv-onair {
    width: 33.33333%;
    padding: 0 0 0 16px;
    background: transparent url('../images/onair_toolbar_separator.png') center left no-repeat;
}

#onair-toolbar .thumb {
    float: left;
    width: 112px;
    height: 65px;
    margin: -15px -20px 0 0;
}

#onair-toolbar .power-button {
    float: left;
    width: 32px;
    height: 32px;
    margin: 9px 16px 9px 0;
    background: transparent url('../images/onair_toolbar_power_button.png') 0 0 no-repeat;
    text-indent: -9999px;
}

#onair-toolbar .power-button:hover {
    background-position: 0 -32px;
}

#onair-toolbar hgroup {
    float: left;
}

#onair-toolbar h2 {
    margin: 8px 0 0 0;
    font-size: 12px;
}

#onair-toolbar h3 {
    margin: 2px 0 0 0;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#onair-toolbar a {
    color: #fff;
}

#onair-toolbar a:hover {
    color: #fff;
    text-decoration: none;
}

#main-toolbar {
    position: relative;
    z-index: 1;
}

#section-nav-panel {
    position: relative;
    z-index: 1;
}

#onair-toolbar {
    position: relative;
    z-index: 2;
}

#radio-onair.left a.power-button {
    margin-left: 20px;
}

#onair-toolbar #radio-onair hgroup {
    overflow: hidden;
    height: 43px;
    width: 66.66667%;
}

#onair-toolbar #tv-onair hgroup {
    overflow: hidden;
    height: 43px;
    width: 75%;
}

#deejay-apps .medium-title span {
    margin: 0;
}

#map .section-map .section-label {
    margin: 40px 0 20px 0;
}

#map .section-map ul {
    list-style: none;
    margin: 0 0 10px 0;
}

#map .section-map ul li {
    line-height: 0;
}

#map .small-title span {
    margin: 0 0 10px 0;
}

#legals p {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: #999;
}

/* -----------------------------------------
   Site Page
----------------------------------------- */

#news-guests-group {
    padding: 0;
    background-color: #fff;
}

/* -----------------------------------------
   generali
----------------------------------------- */
table tbody tr td {
    color: #666 !important;
}

/* modifica a foundation */

a {
    color: #666666;
    text-decoration: none;
}

#adv-top.skin {
}

#wrapper.skin {
    background-image: url('../images/bgd_pattern_10.gif');
    padding-top: 19px;
}

#adv-top.banner {
    padding: 20px 0;
}

#adv-top,
#adv-middle1,
#adv-middle2 {
    width: 100%;
    text-align: center;
    line-height: 0;
}

#adv-middle1.banner,
#adv-middle2.banner {
    float: left;
    margin-bottom: 36px;
}

.player.audio #adv-middle1 {
    text-align: right;
    width: 33.3%;
}

.player.audio #adv-middle1.banner {
    float: right;
}

#adv-top.strip,
#adv-middle2.strip {
}

.webradio #adv-middle1 {
    float: right;
    width: 33.33333%;
    margin-top: 0
}

#adv-position3 {
    position: fixed;
    top: 0;
    z-index: 999999999 !important;
}

.header-tv {
    margin-top: 18px;
}

ol {
    width: 100%;
    margin-left: 0;
    list-style: none;
}

ul {
    width: 100%;
    list-style: none;
}

/* -----------------------------------------
   Footer
----------------------------------------- */
#site-footer {
    padding: 20px 0 20px 0;
    margin: 0 0 0 0;
    background-image: url('../images/bgd_pattern_30.gif');
    border-top: #FFF 10px solid;
    width: 100%;
}

#deejay-apps {
    background: #f21f0c;
    padding: 40px 0;
}

#deejay-apps header {
    vertical-align: middle;
    float: left;
    margin: 0;
    width: 25%;
}

#deejay-apps header h2 {
    height: 58px;
    line-height: 58px;
}

#deejay-apps ul {
    border: 0;
}

#deejay-apps li {
    width: 25%;
    height: 58px;
    float: left;
    border-right: #FFF 1px solid;
}

#deejay-apps li:last-child {
    border: 0;
}

#deejay-apps li a {
    display: inline-block;
    width: 100%;
    height: 58px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
}

#deejay-apps li.ios-apps a {
    background-image: url(../images/ios_apps.gif);
    background-size: 34px 27px;
}

#deejay-apps li.android-apps a {
    background-image: url(../images/android_apps.gif);
    background-size: 34px 27px;
}

#deejay-apps li.blackberry-apps a {
    background-image: url(../images/blackberry_apps.gif);
    background-size: 34px 27px;
}

#deejay-apps li.windows-apps a {
    background-image: url(../images/windows_apps.gif);
    background-size: 34px 27px;
}

@media only screen and (max-width: 768px) {
    #deejay-apps ul {
        width: 100% !important;
    }

}

/*--- important ---*/
#follow-site {
    float: left;
}